.line1 {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.line2 {
    fill: none;
    stroke: green;
    stroke-width: 2px;
}

.line3 {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}


  .bar{
    fill:blue;
  }

  .bar:hover{
    fill: brown;
  }

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}